@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);

  --font-sans: var(--font-inter), var(--font-hind), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --background: #F9FAFB;
    /* Gray-50 */
    --foreground: #1F2937;
    /* Gray-800 */

    --primary: #4F46E5;
    /* Indigo-600 */
    --primary-foreground: #FFFFFF;

    --muted: #6B7280;
    /* Gray-500 */
    --muted-foreground: #E5E7EB;
    /* Gray-200 */

    --border: #E5E7EB;
    /* Gray-200 */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
}

@layer utilities {
  @keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
  }

  .animate-blob {
    animation: blob 7s infinite;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}